<f:section name="flashMessage">
	<div class="alert {alertClass}">
		<f:if condition="{renderCloseButton}">
			<a class="close" data-dismiss="alert" href="#">×</a>
		</f:if>
		<f:if condition="{flashMessage.title}">
			<h4 class="alert-heading">{flashMessage.title}</h4>
		</f:if>
		<f:format.raw>{flashMessage}</f:format.raw>
	</div>
</f:section>

<f:flashMessages as="flashMessages">
	<f:for each="{flashMessages}" as="flashMessage">
		<f:if condition="{flashMessage.severity} == 'OK'">
			<f:render section="flashMessage" arguments="{flashMessage: flashMessage, alertClass: 'alert-success', renderCloseButton: renderCloseButton}" />
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Notice'">
			<f:render section="flashMessage" arguments="{flashMessage: flashMessage, alertClass: 'alert-info', renderCloseButton: renderCloseButton}" />
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Warning'">
			<f:render section="flashMessage" arguments="{flashMessage: flashMessage, alertClass: 'alert-warning', renderCloseButton: renderCloseButton}" />
		</f:if>
		<f:if condition="{flashMessage.severity} == 'Error'">
			<f:render section="flashMessage" arguments="{flashMessage: flashMessage, alertClass: 'alert-danger', renderCloseButton: renderCloseButton}" />
		</f:if>
	</f:for>
</f:flashMessages>