<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ES Test - <f:render section="Header" optional="true" /></title>
    <link rel="stylesheet" href="../../Public/Styles/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Public/Styles/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../Public/Styles/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../Public/Styles/app.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><f:render section="Header" optional="true" /></h1>
        <f:render partial="FlashMessages"/>
        <f:render partial="ValidationResults"/>
    </div>
    <f:render section="Content"/>
</div>
<script src="../../Public/Scripts/jquery.min.js"></script>
<script src="../../Public/Scripts/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../../Public/Scripts/timeago.js"></script>
<script src="../../Public/Scripts/app.js"></script>
</body>
</html>