{namespace crtest=Wwwision\CrTest\Application\ViewHelpers}
<f:layout name="Default"/>

<f:section name="Content">
    <h1>ES Test</h1>

    <div class="row">
        <f:for each="{workspacesAndNodes}" as="workspaceAndNodes">
            <div class="col-md-4">
                <h3>
                    {workspaceAndNodes.workspace.id}
                    <f:link.action action="index" controller="NodeLog" arguments="{workspaceId: workspaceAndNodes.workspace.id}"><i class="fa fa-history"></i></f:link.action>
                </h3>
                <table class="table">
                    <f:for each="{workspaceAndNodes.nodes}" as="node">
                        <tr>
                            <td>
                                <f:render section="node" arguments="{node: node, workspace: workspaceAndNodes.workspace}"/>
                            </td>
                        </tr>
                    </f:for>
                    <f:if condition="{workspaceAndNodes.workspace.personal}">
                        <tr>
                            <td>
                                <a href="#" class="node-create-link" data-workspace-id="{workspaceAndNodes.workspace.id}" data-reference-node-id="0" title="create node"><i class="fa fa-plus-circle"></i></a>
                            </td>
                        </tr>
                    </f:if>
                </table>
            </div>
        </f:for>
    </div>

    <div class="modal fade" id="createNodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <f:form action="create" class="form-horizontal" objectName="command">
                    <f:form.hidden id="createNodeForm-workspaceId" property="workspaceId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Create node to workspace</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="createNodeForm-name" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-6">
                                <f:form.textfield id="createNodeForm-name" property="name" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="createNodeForm-position" class="col-sm-2 control-label">Position</label>
                            <div class="col-sm-3">
                                <f:form.select id="createNodeForm-position" property="position" class="form-control" options="{before: 'BEFORE', into: 'INTO', after: 'AFTER'}" />
                            </div>
                            <div class="col-sm-3">
                                <crtest:form.nodeSelector prependOptionLabel="- select -" id="createNodeForm-referenceNodeId" property="referenceNodeId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Create node</button>
                    </div>
                </f:form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="moveNodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <f:form action="move" class="form-horizontal" objectName="moveCommand">
                    <f:form.hidden id="moveNodeForm-workspaceId" property="workspaceId" />
                    <f:form.hidden id="moveNodeForm-nodeId" name="nodeId" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Move node within workspace</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="moveNodeForm-position" class="col-sm-2 control-label">Position</label>
                            <div class="col-sm-3">
                                <f:form.select id="moveNodeForm-position" property="position" class="form-control" options="{before: 'BEFORE', into: 'INTO', after: 'AFTER'}" />
                            </div>
                           <div class="col-sm-3">
                               <crtest:form.nodeSelector prependOptionLabel="- select -" excludeId="{node.id}" id="moveNodeForm-referenceNodeId" property="referenceNodeId" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrows"></i> Move node</button>
                    </div>
                </f:form>
            </div>
        </div>
    </div>

</f:section>

<f:section name="node">
    <div class="row node">
        <div class="col-sm-6">
            <f:if condition="{workspace.live}">
                <f:then>
                    {node.name}
                    <f:link.action action="index" controller="NodeLog" arguments="{nodeId: node.id, workspaceId: workspace.id}">
                        <i class="fa fa-history"></i>
                    </f:link.action>
                </f:then>
                <f:else>
                    <f:form action="rename" class="form-horizontal" objectName="command">
                        <f:form.hidden property="nodeId" value="{node.id}" />
                        <f:form.hidden property="workspaceId" value="{workspace.id}" />
                        <f:form.textfield id="node-{node.id}" class="form-control newName{f:if(condition: '{node.workspaceId} == {workspace.id}', then: ' dirty')}" property="newName" value="{node.name}"/>
                    </f:form>
                </f:else>
            </f:if>
        </div>
        <div class="col-sm-4">
            <div class="dropdown">
                <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><f:link.action action="index" controller="NodeLog" arguments="{nodeId: node.id, workspaceId: workspace.id}" title="audit log"><i class="fa fa-history"></i> Audit Log</f:link.action></li>
                    <li><a href="#" class="node-move-link" data-workspace-id="{workspace.id}" data-node-id="{node.id}" data-node-version="{node.version}" title="move node"><i class="fa fa-arrows"></i> Move node</a></li>
                    <li><a href="#" class="node-create-link" data-workspace-id="{workspace.id}" data-reference-node-id="{node.id}" title="create node"><i class="fa fa-plus-circle"></i> Add new node</a></li>
                    <!-- nested condition == HACK -->
                    <f:if condition="{workspace.personal}">
                        <f:if condition="{node.workspaceId} == {workspace.id}">
                            <li role="separator" class="divider"></li>
                            <li>
                                <f:form action="discard" class="form-horizontal" style="float:left" objectName="command">
                                    <f:form.hidden property="nodeId" value="{node.id}"/>
                                    <f:form.hidden property="workspaceId" value="{node.workspaceId}"/>
                                    <f:form.button class="btn btn-link" title="discard changes"><i class="fa fa-ban"></i> Discard changes</f:form.button>
                                </f:form>
                            </li>
                            <li>
                                <f:form action="publish" class="form-horizontal" objectName="command">
                                    <f:form.hidden property="nodeId" value="{node.id}"/>
                                    <f:form.hidden property="sourceWorkspaceId" value="{workspace.id}"/>
                                    <f:form.hidden property="targetWorkspaceId" value="live"/>
                                    <f:form.hidden property="expectedVersion" value="{node.publishedVersion}"/>
                                    <f:form.button class="btn btn-link" title="publish"><i class="fa fa-cloud-upload"></i> Publish changes</f:form.button>
                                </f:form>
                            </li>
                        </f:if>
                    </f:if>
                </ul>
            </div>
        </div>
    </div>
</f:section>